{
  "BASE_URL": "http://localhost:8080",
  "FULL_QUOTE": "3f2f51f8-92eb-11ef-bee1-0242ac1e0002",
  "EMPTY_QUOTE": "3f2f51f8-92eb-11ef-bee1-0242ac1e0002",
  "QUOTE_TO_TEST_SERVICE_PRICE_EDITION": "3f2f51f8-92eb-11ef-bee1-0242ac1e0002",
  "QUOTE_TO_TEST_NAVIGATION_TO_QUOTE_CREATION": "3f2f51f8-92eb-11ef-bee1-0242ac1e0002",
  "FILTER_QUOTE_TAG": "testertagtres",
  "ITINERARY_DAY_LOCATION_TO_TEST": "Piura",
  "SERVICE_TO_TEST_SERVICE_ADDING": "CRRDVAC0002",
  "SERVICE_TO_TEST_SERVICE_PRICE_EDITION": "PEMAPAC0041",
  "SERVICE_TO_TEST_SERVICE_PRICE_EDITION_NO_PRICE": "PEMAPAC0032",
  "AUTH_EMAIL": "cypress@itereo.travel",
  "AUTH_PASSWORD": "123456",
  "AUTH_DATA": {
    "token": "",
    "user": {
      "id": 0,
      "name": "Cypress",
      "email": "cypress@itereo.travel",
      "external_code": null,
      "reseller": 1,
      "profit_margin": "0.00",
      "photo": null,
      "roles": {
        "data": [
          {
            "id": 1,
            "name": "admin",
            "description": "Super Admin",
            "created_at": "2021-11-14T01:26:53.000000Z",
            "updated_at": "2021-11-14T01:26:53.000000Z"
          }
        ]
      },
      "created_at": "2023-09-03T00:09:50.000000Z",
      "updated_at": "2023-09-03T00:09:50.000000Z"
    },
    "permissions": [],
    "user_type": {
      "name": "pro",
      "restrictions": {
        "tabs": {
          "information": true,
          "services": true,
          "itinerary": true,
          "export": true,
          "book": true,
          "pax": true
        }
      }
    },
    "tenant": {
      "id": "0-dev-ela.itereo.travel",
      "name": "ela",
      "domain": "dev-ela.itereo.travel",
      "baseURL": "https://dev-ela.itereo.travel/api/v1"
    }
  },
  "STATUSES_ITINERARY": {
    "lastRefreshTime": 1693630822.419,
    "data": [
      {
        "id": 1,
        "name": "Quote",
        "description": "Itinerary at the time of creation",
        "created_at": null,
        "updated_at": null
      },
      {
        "id": 2,
        "name": "Confirm",
        "description": "When the services are already confirmed",
        "created_at": null,
        "updated_at": null
      },
      {
        "id": 3,
        "name": "Cancel",
        "description": "When the itinerary is cancelled",
        "created_at": null,
        "updated_at": null
      }
    ]
  },
  "MAX_TIMEOUT": 10000
}
